<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/fragments :: head('CREATE POST')">

</head>
<body>
<nav th:replace="partials/fragments :: nav-bar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Hello
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/hello">Hello</a>
                    <a class="dropdown-item" href="/welcome">Welcome</a>
                    <a class="dropdown-item" href="/join">Join</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roll-dice" tabindex="-1">Roll Dice Game</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="wrapper m-auto" style="width: 50%">
<form action="/posts/create" method="POST" th:object="${post}" >
        <div class="form-group">

            <label for="title">Title</label>
            <input id="title"  th:field="*{title}" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea id="body" th:field="*{body}" class="form-control" type="text"></textarea>
        </div>

        <input type="submit" class="btn btn-block btn-primary">
    </form>

</form>
</div>


<div th:replace="partials/fragments :: scripts">
</div>
</body>
</html>