<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/fragments :: head('yes')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/fragments :: nav-bar"></nav>
<div class="wrapper text-center d-flex justify-content-center align-items-center">
<div class="">
    <a href="/roll-dice/1">1</a>
    <a href="/roll-dice/2">2</a>
    <a href="/roll-dice/3">3</a>
    <a href="/roll-dice/4">4</a>
    <a href="/roll-dice/5">5</a>
    <a href="/roll-dice/6">6</a>
</div>
</div>
<h3 class="text-center" th:text="${message}"></h3>
<div th:replace="partials/fragments :: scripts"></div>
</body>
</html>